/* import font for whole app */
@import 'base-styles';
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

.body {
margin: 0;
}

/* full-page background gradient container */
.main {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    justify-content: center;
    pointer-events: none;
    /* sets the stacking order. It's higher than the default stacking order, which is useful if you have other positioned elements */
    z-index: 1;
    position: fixed;
}

.app {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:0px 24px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    font-weight: 700;
}

.header-text {
    margin-left: 12px;
    flex: 1 1 auto;
}

.intro-text {
    text-align: center;
}

/* Day Form Styling*/
.day-form {
    @extend .form;
}

.day-form-input {
    @extend .btn-input-base-styling;
    text-align: center;
    width: calc(100% / 4);
}

.day-form-btn {
    @extend .btn-input-base-styling;
    flex: 1;
}

/* DayForm Responsive Styling*/
@media screen and (max-width: 640px) {
    .day-form {
        flex-direction: column;
    }

    .day-form-btn {
        width: calc(100% / 4);
    }
  }
/* Activity Card Styles */

.activity-form {
    @extend .form;
    min-width: 100px;
    flex-wrap: wrap;
}

.small-text-input {
    @extend .btn-input-base-styling;
    // min-width: 300px;
    flex-basis:content;
}

.large-text-input {
    @extend .btn-input-base-styling;
    // min-width: 300px;
    // min-height: 300px;
}

.price-input {
    @extend .btn-input-base-styling;
    // min-width: 150px;
}

// @media screen and (max-width: 640px) {
// .activity-form {
//     flex-direction: column;
//     }
// }