/* import font for whole app */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

.body {
margin: 0;
}

/* full-page background gradient container */
.main {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    justify-content: center;
    pointer-events: none;
    /* sets the stacking order. It's higher than the default stacking order, which is useful if you have other positioned elements */
    z-index: 1;
    position: fixed;
}

.app {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 120px 24px 160px 24px;

}

@media screen and (max-width: 640px) {
    .app {
      padding-top: 24px;
    }
  }

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    font-weight: 700;
}

.header-text {
    margin-left: 12px;
}

