/* import font for whole app */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+Syriac+Eastern&display=swap');



  

  .body {
    margin: 0;
  }

/* full-page background gradient container */
.main {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    justify-content: center;
    pointer-events: none;
    /* sets the stacking order. It's higher than the default stacking order, which is useful if you have other positioned elements */
    z-index: 1;
    position: fixed;
}

.app {
    position: relative;
    z-index: 10;
}

.nav {
    display: flex;
    align-items: center;
    padding: 4px;
    height: 56px; 
    font-family: 'Lora', serif;
    font-weight: 800; 
    font-weight: bold;
}
/* XS- Mobile devices and small tablets */
@media (min-width: 576px) {
    .app {
        padding: 0px 50px
    }
    .nav {
        align-content: space-between;
    }
  }

/* SM - Tablets and small laptops */
@media (min-width: 768px) {
    .app {
        padding: 0px 100px
    }
  }
  /* MD -  Larger tablets and laptops */
  @media (min-width: 992px) {
    .app {
      padding: 0px 160px;
    }
  }
  /* LG - Standard desktop monitors */
  @media (min-width: 1200px) {
    .app {
      padding: 0px 180px;
    }
  }
  /* XL - Large desktop monitors)*/
  @media (min-width: 1200px) {
    .app {
      padding: 0px 250px;
    }
  }