/* import font for whole app */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+Syriac+Eastern&display=swap');

/* add Add the Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* full-page background gradient container */
.main {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    justify-content: center;
    pointer-events: none;
    /* sets the stacking order. It's higher than the default stacking order, which is useful if you have other positioned elements */
    z-index: 1;
    position: fixed;
}

.app {
    /* higher than the stacking order of .main (which has z-index: 1), so .app will be visually positioned above .main */
    @apply relative z-10 md:px-24 lg:px-44 2xl:px-80;
}
/* Tailwind Styles */
@layer components {
    .nav {
        @apply flex items-center p-1 space-x-4 h-14 w-screen font-lora font-extrabold font-bold;
    }
}